{%- extends "base.html" %}



{%- block content %}
{% set path = "" %}
{%- if section %}
    {% set path = section.components %}
{%- else %}
    {% set path = page.components %}
{%- endif %}

{%- set root_section = get_section(path=path[0] ~ "/" ~ path[1] ~ "/_index.md") %}

{% set next = "" %}
{% set previous = "" %}
{% set current = 0 %}
{% set found_current = false %}
{% set total = 0 %}

{% if path == root_section.components %}
    {% set_global found_current = true %}
{% else %}
    {% set_global previous = root_section.permalink %}
{% endif %}

{%- for chapter in root_section.subsections %}
    {%- set chapter_section = get_section(path=chapter) %}

    {% set_global total = total + 1 %}

    {% if found_current and next == "" %}
        {% set_global next = chapter_section.permalink %}
    {% endif %}

    {% if not found_current and path == chapter_section.components %}
        {% set_global found_current = true %}
        {% set_global current = total %}
    {% endif %}

    {% if not found_current %}
          {% set_global previous = chapter_section.permalink %}
    {% endif %}
    
    {%- for page in chapter_section.pages %} 
        {% if page.extra.chapter  %} 
        {%    continue %}
        {% endif %} 
        {% set_global total = total + 1 %}
       
        {% if found_current and next == "" %}
            {% set_global next = page.permalink %}
        {% endif %}

        {% if not found_current and path == page.components %}
            {% set_global found_current = true %}
            {% set_global current = total %}
        {% endif %}

        {% if not found_current %}
              {% set_global previous = page.permalink %}
        {% endif %}
    {%- endfor %}
{%- endfor %}

<article>
{%- if section %}
    <h1>{{ section.title }}</h1>

    {%- if section.relative_path == root_section.relative_path %}
            {{ section.content | safe }}
    {% else %}
        {% set section_item = get_section(path=section.relative_path) %}
        {% set chapter_frontpage = section_item.pages %}
        {% if chapter_frontpage[0].extra.chapter %} 
            {{ chapter_frontpage[0].content | safe }}
        {% else %}
            {{ section.content | safe }}
        {% endif %}
    {% endif %}
{%- else %}
    <h1>{{ page.title }}</h1>
    {{ page.content | safe }}
{%- endif %}

<nav>
    {% if previous != "" %}
    <a class="previous" href="{{previous}}">←</a>
    {% endif %}
    <span style="padding-left: 2rem; padding-right: 2rem">
        {{ current }} / {{ total }}
    </span>
    {% if next != "" %}
    <a class="next" href="{{next}}">→</a>
    {% endif %}
</nav>

</article>



<div class="toc" aria-hidden="true">
  <div class="toc-sticky">
    <div class="toc-item">

        {% if path == root_section.components %}
            <a class = "chapter chapter_header" href="{{ root_section.permalink | safe }}">{{ root_section.title }}</a>
        {% else %}
            <a class = "chapter_header" href="{{ root_section.permalink | safe }}">{{ root_section.title }}</a>
        {% endif %}

        {% set index = 1 %}
        {%- for chapter in root_section.subsections %}
            {%- set chapter_section = get_section(path=chapter) %}
            <div class="toc-item header">
                {% if path == chapter_section.components %}
                  <a class="chapter" href="{{ chapter_section.permalink | safe }}">{{index}} {{ chapter_section.title }}</a>
                  {% if chapter_section.toc %}
                  {% if chapter_section.toc | length > 1 %}
                      {%- for h in chapter_section.toc %}
                      <div class="toc-item-child">
                        - <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
                      </div>
                      {% endfor %}
                      {% endif %}
                  {% endif %}

                {% else %}
                    <a href="{{ chapter_section.permalink | safe }}">{{index}} {{ chapter_section.title }}</a> 
                {% endif %}
            </div>
            
            {% set_global sub_index = 1 %}
            {%- for page in chapter_section.pages %} 
                {% if page.extra.chapter  %} 
                {%    continue %}
                {% endif %} 

                <div class="toc-item-child">
                {% if path == page.components %}
                    <a class="chapter" href="{{ page.permalink | safe }}">{{index}}.{{sub_index}} {{page.title | safe }}</a> 
                    {% if page.toc %}
                        {%- for h in page.toc %}
                        <div class="toc-item-child">
                          - <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <a href="{{ page.permalink | safe }}">{{index}}.{{sub_index}} {{ page.title | safe }}</a> 
                {% endif %}
                </div>
                {% set_global sub_index = sub_index + 1 %}
            {% endfor %}
        {% set_global index = index + 1 %}
        {%- endfor %}

    <nav>
        {% if previous != "" %}
        <a class="previous" href="{{previous}}">←</a>
        {% endif %}
        <span style="padding-left: 2rem; padding-right: 2rem">
            {{ current }} / {{ total }}
        </span>
        {% if next != "" %}
        <a class="next" href="{{next}}">→</a>
        {% endif %}
    </nav>
  </div>
</div>
{%- endblock content %}
